.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .github-link {
    transition: all 400ms ease;

    .github-icon {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      margin-right: 5px;
      transition: all 400ms ease;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        border-radius: 4px;
        background-color: $primary-color;
      }
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }

    &:active {
      color: $primary-color;
    }
  }

  img {
    width: 80px;
    transition: all 400ms ease;
    cursor: pointer;
    filter: invert(100%);

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}
