// TIME

.time {
  font-size: 4.5em;
  font-weight: 700;
  white-space: nowrap;

  @extend %transition;

  @media (max-width: 500px) {
    font-size: 3em;
  }
}

// DATE

.date {
  margin-bottom: 1em;
  font-size: 1.2em;
  text-transform: capitalize;

  @extend %transition;
}

// GREETING

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 2em;

  @extend %transition;

  @media (max-width: 500px) {
    flex-direction: column;
    font-size: 1.2em;

    .name {
      text-align: center;
    }
  }
}

// WEATHER

.weather {
  position: relative;
  max-width: 200px;

  &__city {
    font-size: 1.2em;
    text-transform: capitalize;
    border-bottom: 2px solid $accent-color;
  }

  &__error-container,
  &__description-container {
    position: absolute;
    @extend %flex-column;
    gap: 3px;
    width: 100%;
    margin-top: 5px;

    @extend %hidden;
  }

  .weather__row {
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .weather__temperature {
      font-size: 1.5em;
    }

    .weather-icon {
      font-size: 2.2em;
    }
  }

  .weather__error-name,
  .weather__error-message,
  .weather__description,
  .weather__wind,
  .weather__humidity {
    font-size: 0.7em;
  }

  @media (max-width: 500px) {
    .weather__city {
      max-width: 150px;
      font-size: 1.2em;
    }
  }

  @media (max-width: 400px) {
    margin-top: 15px;
    text-align: center;

    .weather__error-container,
    .weather__description-container {
      position: relative;
    }

    .weather__city {
      text-align: center;
    }
  }
}

// QUOTE

.quote-container {
  flex-grow: 2;
  text-align: center;

  @extend %hidden;

  .quote-change {
    padding: 5px;
    font-size: 1.5em;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .quote {
    @extend %hidden;

    .quote-text {
      font-size: 1em;
    }
    .quote-author {
      font-size: 0.8em;
    }
  }
}

// PLAYER

.music-player {
  width: 100%;
  max-width: 250px;

  @extend %hidden;

  @media (max-width: 500px) {
    max-width: 200px;
  }

  &__controls {
    @extend %flex-row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.2em;

    @media (max-width: 500px) {
      flex-direction: column !important;
    }

    .controls__play {
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

      @media (max-width: 500px) {
        flex-grow: 1;
      }

      .play-pause {
        width: 1.5em;
        font-size: 1.5em;
      }
    }

    .controls__volume {
      @extend %flex-row;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 1;
      gap: 5px;

      .volume-btn {
        width: 1.5em;
      }
    }

    .controls__info {
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;
      font-size: 0.6em;

      @extend %hidden;
    }
  }

  .playlist {
    @extend %flex-column;
    gap: 5px;
    margin-top: 10px;
    font-size: 0.7em;

    &__item {
      @extend %flex-row;
      align-items: center;
      gap: 5px;
      flex-wrap: nowrap;

      .btn {
        width: 1em;
      }

      &__song-info {
        position: relative;
        @extend %flex-row;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        @extend %transition;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: $accent-color;
          opacity: 0;
          @extend %transition;
        }
      }

      &.active {
        .btn {
          color: $accent-color;
        }
        .playlist__item__song-info::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .slider {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: $primary-color;
    cursor: pointer;

    &__progress {
      position: relative;
      width: 0%;
      height: 100%;
      border-radius: 5px;
      background-color: $accent-color;

      @extend %transition;
    }

    .volume__level {
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: 0 0 3px #990073;
        background-color: $accent-color;
        transform: translate(50%, -2.5px);
        opacity: 0;

        @extend %transition;
      }
    }

    &.duration__slider {
      width: 100%;
    }

    &:hover {
      .volume__level:after {
        opacity: 1;
      }
    }
  }
}

// SETTINGS

.settings {
  position: relative;
  z-index: 10;

  &__btn {
    font-size: 1.2em;

    &:hover {
      transform: rotate(90deg) scale(1.2);
    }

    &:active {
      transform: scale(1);
    }

    &.active {
      color: $accent-color;
      font-size: 1.7em;
      animation-name: infiniteRotate;
      animation-duration: 3000ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &__container {
    @extend %hidden;

    position: absolute;
    z-index: -1;
    bottom: 0.7em;
    left: 0.7em;
    width: calc(100% - 0.7em);
    height: calc(100% - 0.7em);
    border-radius: 10px;
    background-color: $primary-color;
  }
}

// ANIMATION

@keyframes infiniteRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
