%transition {
  transition: all 300ms ease-in-out;
}

// TIME

.time {
  font-size: 5em;
  font-weight: 700;
  white-space: nowrap;

  @extend %transition;

  @media (max-width: 500px) {
    font-size: 3em;
  }
}

// DATE

.date {
  font-size: 1.5em;
  text-transform: capitalize;

  @extend %transition;
}
