// TIME

.time {
  font-size: 4.5em;
  font-weight: 700;
  white-space: nowrap;

  @extend %transition;

  @media (max-width: 500px) {
    font-size: 3em;
  }
}

// DATE

.date {
  margin-bottom: 1em;
  font-size: 1.2em;
  text-transform: capitalize;

  @extend %transition;
}

// GREETING

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 2em;

  @extend %transition;

  .name {
    padding: 0px;
    outline: none;
    border: none;
    color: inherit;
    background-color: transparent;

    &::after {
      content: 'hello';
    }

    @extend %transition;

    &::placeholder {
      color: inherit;
    }
  }
}
