@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'normalize';
@import 'variables';
@import 'authorInfo';
@import 'widgets';

%transition {
  transition: all 300ms ease-in-out;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: calc(15px + 0.390625vw);
  font-weight: 400;
  color: $primary-color;
  background-color: #a3a3c2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  @extend %flex-column;
  max-width: 2560px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

.header,
.main,
.footer {
  display: flex;
}

.header {
  min-height: 100px;
}

.main {
  position: relative;
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  flex: 1;

  .slider {
    position: absolute;
    top: 50%;
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .fa-solid {
      font-size: 2em;

      &.fa-chevron-left:hover {
        animation: slideLeft 1000ms ease infinite;
      }

      &.fa-chevron-right:hover {
        animation: slideRight 1000ms ease infinite;
      }
    }
  }
}

.footer {
  min-height: 100px;
  align-items: flex-end;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

// ANIMATION
@keyframes slideLeft {
  33% {
    transform: translateX(-20%);
  }
  66% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  33% {
    transform: translateX(20%);
  }
  66% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
