@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'normalize';
@import 'variables';
@import 'authorInfo';
@import 'widgets';

body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(15px + 0.390625vw);
  font-weight: 400;
  color: $primary-color;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  @extend %flex-column;
  max-width: 2560px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
  background-color: #a3a3c2;
}

.header,
.main,
.footer {
  display: flex;
}

.header {
  min-height: 100px;
}

.main {
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
  min-height: 100px;
  align-items: flex-end;
}
