.btn {
  padding: 0.4em 0.8em;
  color: $primary-light;
  text-transform: uppercase;
  border: 2px solid $primary-accent;
  background: transparent;
  cursor: pointer;
  opacity: 1;

  @extend %transition;

  &:hover {
    color: $primary-accent;
    background: $primary-dark;
  }

  &:active {
    color: $primary-light;
    border-color: $primary-light;
  }

  &[disabled] {
    cursor: inherit;
    opacity: 0.2;

    &:hover {
      color: $primary-light;
      border-color: $primary-accent;
      background: transparent;
    }

    &:active {
      color: $primary-light;
      border-color: $primary-accent;
      background: transparent;
    }
  }
}

.deck-btn {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &__text {
    text-transform: uppercase;
  }

  &:hover {
    .deck-btn__text {
      visibility: visible;
      opacity: 1;
      transform: scale(1.05);
    }

    .card__img {
      transform: scale(1.05);
      border: 3px solid $primary-dark;
      box-shadow: 0 0 15px $primary-accent;
    }
  }

  &:active {
    .deck-btn__text {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    .card__img {
      transform: scale(1);
      border: 3px solid $primary-dark;
      box-shadow: 0 0 15px $primary-accent;
    }
  }

  &__text {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %flex-row;
    @extend %centered;
    color: $primary-accent;
    font-size: 0.8em;
    border-radius: 10px;
    background-color: hsla(340deg, 69%, 10%, 0.7);
    @extend %hidden;
    @extend %transitionSlow;
  }

  &.blink {
    animation: blink 600ms ease;
  }
}

@keyframes blink {
  50% {
    transform: scale(0.8);
    opacity: 0;
  }
}
