@import 'level';
@import 'settings';

.ancient,
.deck,
.game {
  @extend %flex-column;
  align-items: center;

  @extend %transitionSlow;
}

.ancient,
.deck {
  flex: 1 1 8em;
  max-width: 220px;
}

.game {
  flex: 4 1 16em;
}

.mythic {
  &__card-container {
    position: relative;
  }

  &__stage-info {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %flex-column;
    @extend %centered;
    gap: 0.5em;
    padding: 0.7em;
    font-size: 0.8em;
    background-color: hsla($hue, 69%, 10%, 0.7);
    border-radius: 10px;

    .stageNumber {
      text-transform: uppercase;
    }

    .stageLevel {
      @extend %flex-row;
      @extend %centered;
      gap: 0.7em;
      color: $primary-light;
    }
  }
}

.card__img {
  position: relative;
  border: 3px solid $primary-accent;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  @extend %transitionSlow;

  &:hover {
    transform: scale(1.05);
    border: 3px solid $primary-dark;
    box-shadow: 0 0 15px $primary-accent;
  }

  &:active {
    transform: scale(1);
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: 0px 0px 50px 0px rgba(43, 8, 20, 0.54) inset;
  }
}

.stageCard {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 5px;

  &-green {
    background-color: $green;
  }
  &-brown {
    background-color: $brown;
  }
  &-blue {
    background-color: $blue;
  }
}
