.complexity {
  @extend %flex-column;
  align-items: center;
  margin-top: 10px;
  width: 100%;

  &__title {
    text-transform: uppercase;
  }

  &__level {
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .level__progressBar {
      width: 80%;
      height: 5px;
      border-radius: 5px;
      background: $primary-light;
      overflow: hidden;

      .level__progress {
        width: 50%;
        height: 100%;
        background: $primary-accent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
