.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  padding: 1em;
  background-color: hsla($hue, 69%, 10%, 0.7);
  border-radius: 16px;

  transform: translate(-50%, -50%);

  &__form {
    @extend %flex-column;
    @extend %centered;
    gap: 10px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &.settings__ancients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 15px;
    width: max-content;

    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    label {
      max-width: 200px;

      @media (max-width: 1000px) {
        max-width: 150px;
      }

      @media (max-width: 700px) {
        max-width: 100px;
      }
    }

    input[type='radio'] {
      appearance: none;
      display: none;

      &:checked + label {
        .card__img {
          transform: scale(1.1);
          border: 3px solid $primary-dark;
          box-shadow: 0 0 15px $primary-accent;
        }
      }
    }
  }

  &.settings__complexity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    label {
      position: relative;
      color: $primary-light;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;

      @extend %transition;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $primary-accent;
        border-radius: 5px;
        transform-origin: center;

        @extend %transition;
      }

      &:hover {
        color: $primary-accent;
        transform: scale(1.1);

        &::after {
          left: 0;
          width: 100%;
        }
      }

      &:active {
        transform: scale(1);
      }
    }

    input[type='radio'] {
      appearance: none;
      display: none;

      &:checked + label {
        color: $primary-accent;
        transform: scale(1.1);
      }
    }
  }

  legend {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
  }
}
