$hue: 340;
$primary-dark: hsl($hue, 69%, 10%);
$primary-light: hsl($hue, 63%, 97%);
$primary-accent: hsl($hue, 63%, 52%);

$hue-bg: 274;
$bg-dark: hsl($hue-bg, 9%, 15%);
$bg-accent: hsl($hue-bg, 62%, 18%);
