/* Подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Magra:wght@700&family=Red+Hat+Text:wght@400;500&display=swap');

/* ================= Variables ===================== */
:root {
  --hue: 189;

  --color-light: hsl(var(--hue), 79%, 100%);
  --color-dark: hsl(var(--hue), 79%, 24%);
  --color-accent: hsl(11, 85%, 65%);

  --bg-color: #ffffff;
}

/* ================= Basic ===================== */

body {
  min-width: 100vh;
  font-family: 'Aleo', serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--bg-color);
}

.container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 0 120px;
}

.logo__name,
.nav,
.btn {
  text-transform: capitalize;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  font-family: 'Red Hat Text';
  font-weight: 500;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--color-accent);
}

.btn:active {
  color: var(--color-dark);
}

/* ================= Header ===================== */

.header {
  height: 90px;
  color: var(--color-light);
}

.header-container {
  position: relative;
  background-image: url(../assets/img/preview-bg-1440x765.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
}

.header-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: hsla(11, 85%, 65%, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-body {
  position: relative;
  z-index: 1000;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.logo__name {
  margin-left: 2px;
  font-family: 'Magra';
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.nav {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5;
}

.nav__list {
  justify-content: flex-start;
  gap: 7px;
  width: 600px;
}

.nav__link {
  padding: 10px 21px;
  transition: color 0.4s ease-in-out, opacity 0.2s ease-in-out;
  white-space: nowrap;
}

.nav__link:hover {
  color: var(--color-dark);
}

.nav__link:active {
  opacity: 0.5;
}

.btn.header__btn {
  padding: 8px 28px;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* ================= Main ===================== */

/* ================= Preview ===================== */

.preview {
  height: 675px;
  color: var(--color-light);
  background-image: url(../assets/img/preview-bg-1440x765.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
}

.preview__body {
  max-width: 892px;
  padding: 32px 0;
}

.preview__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.preview__text {
  margin-top: 32px;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
}

.form {
  position: relative;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 95px;
  margin-top: 46px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.form label,
.form input[type='text'] {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.form label {
  position: absolute;
  top: 50%;
  left: 21px;
  padding: 10px 20px;
  font-style: italic;
  color: var(--color-accent);
  border-radius: 10px;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}

.form input[type='text'] {
  flex-grow: 1;
  height: 100%;
  padding-left: 23px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.form input[type='text']:focus {
  outline: none;
}

.form input[type='text']:focus + label {
  color: var(--color-light);
  background-color: var(--color-accent);
  top: 0;
}

.btn.search__btn {
  padding: 8px 32px;
  font-size: 24px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* ================= Steps ===================== */

.steps {
  margin-top: 80px;
}

.section__title {
  margin-bottom: 40px;
  font-family: 'Red Hat Text';
  font-size: 40px;
  line-height: 53px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
}

.steps__list {
  justify-content: space-between;
}

.steps__item {
  width: 340px;
}

.steps__item:first-child {
  position: relative;
  left: -35px;
}

.steps__icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--color-accent);
  border-radius: 16px;
}

.steps__text {
  margin: 30px 0px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

/* ================= Destinations ===================== */

.destinations {
  margin-top: 67px;
  text-align: center;
}

.destinations__container {
  overflow: hidden;
}

.carousel {
  gap: 60px;
  width: fit-content;
  padding: 5px 0;
  transform: translateX(-660px);
}

.carousel__item {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 16px;
  overflow: hidden;
}

.carousel-item__img {
  width: 100%;
}

.carousel-item__name {
  position: absolute;
  left: 15px;
  bottom: 39px;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--color-light);
}

.carousel-pagination {
  gap: 10px;
  justify-content: center;
  margin: 19px;
}

.carousel-pagination__item {
  width: 20px;
  height: 20px;
  background-color: var(--color-accent);
  border-radius: 50%;
  opacity: 0.5;
}

.carousel-pagination__item_active {
  opacity: 1;
}

.destinations__btn {
  margin: 22px 0;
  padding: 7px 30px 0;
  font-size: 24px;
  line-height: 32px;
}

.destinations__btn:before,
.stories__btn:before {
  content: url(../assets/svg/arrow-right.svg);
  position: relative;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.destinations__btn:hover:before,
.stories__btn:hover:before {
  animation-name: arrowMove;
  animation-duration: 1s;
}

/* ================= Stories ===================== */

.stories {
  margin-top: 58px;
}

.stories-container {
  position: relative;
  background-image: url(../assets/img/stories-bg-1442x1331.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
}

.stories-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  opacity: 0.7;
}

.stories__list {
  position: relative;
  z-index: 1000;
  flex-direction: column;
  gap: 30px;
  height: 1270px;
  padding-top: 40px;
}

.stories__stories-item {
  align-items: flex-start;
}

.stories-item__img {
  max-width: 35%;
  border-radius: 16px;
  box-shadow: 0px 4px 4px var(--color-dark);
}

.stories-item__body {
  height: 100%;
  padding: 0 0 0 40px;
}

.stories-item__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
}

.stories-item__description {
  margin-top: 24px;
  line-height: 24px;
}

.stories-item__link {
  font-weight: 700;
  text-transform: capitalize;
  text-decoration-line: underline;
  transition: all 0.2s ease-in-out;
}

.stories-item__link:hover {
  opacity: 0.7;
}

.stories-item__link:hover:active {
  color: var(--color-accent);
}

.stories__btn {
  margin: 10px 0;
  padding: 7px 32px 0;
  font-size: 24px;
  line-height: 32px;
}

/* ================= Footer ===================== */

.footer-container {
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: var(--color-light);
  background-image: url(../assets/img/stories-bg-1442x1331.jpg);
  background-position: center -1270px;
  background-repeat: no-repeat;
}

.footer-links {
  gap: 10px;
  align-items: center;
}

.rss-logo,
.github-link {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.rss-logo {
  filter: invert();
}

.rss-logo:hover,
.github-link:hover {
  opacity: 1;
}

.rss-logo:active,
.github-link:active {
  opacity: 0.8;
}

.github-link {
  font-size: 40px;
  line-height: 40px;
}

.copyright {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transform: translate(-7px, 2px);
}

.social-list {
  gap: 20px;
}

.social-list__item {
  height: 34px;
}

.social-list__link svg,
.social-list__link path {
  transition: all 0.4s ease-in-out;
}

.social-list__link:hover svg {
  transform: translateY(-5px);
}

.social-list__link:hover path {
  fill: var(--color-accent);
}

.social-list__link:active svg,
.social-list__link:active path {
  opacity: 0.8;
}

/* ================= Animation ===================== */

@keyframes arrowMove {
  0% {
    left: 0;
  }

  33% {
    left: -5px;
  }

  66% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
